<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Saucedemo Automation Suite" parallel="false">
  
  <test name="Saucedemo Automation Tests">
    <classes>
      <class name="automationTestScript.SaucedemoAutomatoin" />
    </classes>
  </test>
  
</suite>
